body {
	background-color: tan;
}

#gol-board,
#history-chart {
	padding: 1em;
	display: inline-block;
}

#gol-board > svg,
#history-chart > svg {
	border: 1px solid black;
	background-color: white;
  padding: 1em;
}

.cell {
	fill: white;
	stroke: #000;
}

.selected {
	fill: darkgreen;
}
